<table class="ui fixed table">
  <thead>
  <tr>
    <th>Code</th>
    <th>Temperature</th>
    <th>Wind</th>
    <th>Pressure</th>
  </tr>
  </thead>
  <tbody>
  #{list items:_station.readings, as:'reading'}
  <tr>
    <td>
      ${reading.code}
      <br>
      ${reading.weatherConditions()}
    </td>
    <td>
      ${reading.temperature} &#176C
      <br>
      ${reading.fahrenheit()} &#176F
    </td>
    <td>
      ${reading.windSpeed} km/hr
      <br>
      ${reading.beaufort()} bft
      <br>
      Feels like: ${reading.windChill()} &#176C
      <br>
      Direction: ${reading.windDirection} &#176 ${reading.windCompass()}
    </td>
    <td>
      ${reading.pressure} hPa
    </td>
  </tr>
  #{/list}
  </tbody>
</table>