#{extends 'main.html' /}
#{set title:'Dashboard' /}

#{menu id:"dashboard"/}

#{addstation /}
#{list items:stations, as:'station'}
<section class="ui attached segment">
    #{stationsummary station:station/}
</section>
<div class="ui two bottom attached buttons">
    <a class="ui right labeled icon blue button" href="/station/${station.id}"><i class="eye icon"></i> View all readings</a>
    <a class="ui right labeled icon grey button" href="/station/${station.id}"><i class="trash alternate icon"></i> Delete Station</a>
</div>
<br>
#{/list}


