#{extends 'main.html' /}
#{set title:'Start' /}
#{welcomemenu id:"start"/}

<section class="ui center aligned segment">
  <h1 class="ui blue massive header">Welcome to the WeatherTop web app</h1>
  <h3 class="ui large header">Many thanks for purchasing the WeatherTop 1000 weather station</h3>
  <img class="ui centered large bordered rounded image" src="/public/images/weather_station.jpg">
  <br>
  <p><span class="ui large text">
    This web app will make it easy for you to keep a record of your readings.
  </span></p>
  <p><span class="ui large text">
    Also converting your readings into other metrics and identifying trends.
  </span></p>
  <p><span class="ui medium text">
    Click  <a href="/login">Login/Sign up</a> on the top right menu to get started.
  </span></p>
</section>